<div class="top">
  <div class="header">
    <h2>5chクローン</h2>
  </div>

  <div class="main">
    <%= link_to categories_path do %>
      <%= image_tag 'main.jpg', class: 'main_image'%>
    <% end %>
  </div>

  <div class="footer">

  </div>

</div>
