// common
body{
  margin: 0;
}
.back{
  width: 1490px;
  height: 886px;
  background-image: image-url('renga.png');
  margin-top: -108px;
  margin-left: -50px;
  position: relative;
}
 input[type="email"]{
  width: 200px;
  height: 32px;
}
 input[type="password"]{
  width: 200px;
  height: 32px;
}
input[type="submit"]{
  width: 200px;
  background-color: #C0C0C0;
}
