// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// top
.top .header{
  height: 55px;
  border-bottom: 1px solid #c0c0c0;
}
.top .main .main_image{
  width: 500px;
  height: 500px;
  margin-top: 100px;
  margin-left: -20px;
}
.top .header h2{
  float: left;
  margin-top: 10px;
}
.top .header input[type="text"]{
  width: 200px;
}
.top .header input[type="submit"]{
  width: 100px;
}
.top .main{
  height: 615px;
  border-bottom: 1px solid #c0c0c0;
}
.top .footer{
  height: 75px;
}
.top .search{
  float: left;
}
.top .search p{
  margin-left: 20px;
}
